.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  b {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.456);
  }

  article {
    width: 100%;
    max-width: 480px;
    z-index: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 6px;
    
  }
}
