.listContainer {
  width:90vw;
  min-width: 340px;
  max-width: 600px;
  background-color: rgb(72, 72, 72);
  padding: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  h2 {
    margin: 0;
    margin-bottom: 30px ;
  }
}

.headerContainer {
  display: flex;
  justify-content: center;
  position: relative;
  color:white;

  img{
    height: 40px;
  }
}

.headerBtn{
  background-color:transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.configContent{
  display: flex;
  align-items: center;
  flex-direction: column;

  button{
    margin-top:40px;
  }
}
