.container {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  transition: background-color 0.25s linear;
  padding: 12px 36px;

  &.primary {
    background-color: dodgerblue;
    color: white;
    &:hover {
      background-color: cornflowerblue;
    }
  }

  &.secondary {
    background-color: whitesmoke;
    color: #333;
    &:hover {
      background-color: gainsboro;
    }
  }
}
